body {
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
  font-family: Arial;
  text-align: center;
}

video {
  border: 4px solid cyan;
  border-radius: 10px;
}

.form {
  margin: 20px;
}

input, button {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
}

table {
  margin: auto;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid white;
  padding: 10px;
}
